openapi: 3.2.0
info:
  title: V1 Lytics Workflow API
  version: 1.0.0
  description: 'The Lytics API is a _restful_ *JSON* api that includes:

    * *Data Collection* api''s for collection, and upload of custom data.'
servers:
- url: https://api.lytics.io
tags:
- name: Workflow
  description: Workflow is a specification for a work unit
paths:
  /api/workflow:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowModel'
              examples:
                response:
                  value:
                    data:
                    - provider_id: 4f7b525bdba058fc096757a6
                      hidden: false
                      id: ca756c13469228b723652f1e5168650f
      security:
      - ApiKeyAuth: []
      summary: Retrieve Workflow List
      operationId: Retrieve Workflow List
      description: ''
      tags:
      - Workflow
components:
  schemas:
    WorkflowModel:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              provider_id:
                type: string
              hidden:
                type: boolean
              id:
                type: string
      example:
        data:
        - provider_id: 4f7b525bdba058fc096757a6
          hidden: false
          id: ca756c13469228b723652f1e5168650f
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
x-readme:
  explorer-enabled: true
  proxy-enabled: true
