openapi: 3.2.0
info:
  contact:
    email: support@lytics.com
    name: Lytics Support
    url: https://support.lytics.com/hc/en-us
  description: Version 2 of the Lytics API
  termsOfService: https://www.lytics.com/terms-of-service/
  title: Lytics Segments API
  version: '2.0'
servers:
- url: https://api.lytics.io/v2
tags:
- description: Create and manage audience segments.
  name: Segments
paths:
  /segment:
    get:
      description: Get a list of segments for an account
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: Filter by table
        in: query
        name: table
        schema:
          type: string
      - description: Filter by valid (true|false|all)
        in: query
        name: valid
        schema:
          type: string
      - description: Filter by kind (segment|goal|aspect|conversion|managed|all)
        in: query
        name: kind
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/models.Segment'
                      type: array
                  type: object
          description: Segment List Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Get segments
      tags:
      - Segments
    post:
      description: Create a segment
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/models.Segment'
        description: Segment Request
        required: true
        x-originalParamName: segment
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.Segment'
                  type: object
          description: Segment Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Create segment
      tags:
      - Segments
  /segment/exclude/{operation}:
    post:
      description: Adds/Removes the passed segment id in/from the exclusion list. Exclusion list allows to exclude all the users from the segment during the export job.
      parameters:
      - description: Operation add or remove
        in: path
        name: operation
        required: true
        schema:
          type: string
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: Workflow slug.
        in: query
        name: workflow
        schema:
          type: string
      - description: Segment id. The segment that needs to be added/removed in/from the exclusion list.
        in: query
        name: segment_id
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Add/Remove segment in/from the exclusion list
      tags:
      - Segments
  /segment/{ids}:
    delete:
      description: Delete multiple segments
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The segment IDs
        in: path
        name: ids
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.SegmentDeleteResp'
                  type: object
          description: Segment Delete Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Delete segments
      tags:
      - Segments
  /segment/{id}:
    delete:
      description: Delete a segment
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The segment ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Delete segment
      tags:
      - Segments
    get:
      description: Get a segment by ID or slug
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The segment ID or segment slug
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Include size
        in: query
        name: sizes
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.Segment'
                  type: object
          description: Segment Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Get segment
      tags:
      - Segments
    put:
      description: Update a segment
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The segment ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/models.Segment'
        description: Segment Request
        required: true
        x-originalParamName: segment
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.Segment'
                  type: object
          description: Segment Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Update segment
      tags:
      - Segments
components:
  schemas:
    models.SegmentDeleteResp:
      properties:
        deleted:
          items:
            type: string
          type: array
        not_deleted:
          items:
            type: string
          type: array
        segments:
          items:
            $ref: '#/components/schemas/models.SegmentDeleteStatus'
          type: array
      type: object
    models.Segment:
      properties:
        account_id:
          type: string
        aid:
          type: integer
        ast:
          $ref: '#/components/schemas/models.Expr'
        author_id:
          type: string
        category:
          type: string
        created:
          type: string
        datemath_calc:
          type: boolean
        deleted:
          type: boolean
        description:
          type: string
        field_changes_fields:
          items:
            type: string
          type: array
        fields:
          items:
            type: string
          type: array
        forward_datemath:
          type: boolean
        groups:
          items:
            type: string
          type: array
        id:
          type: string
        identities:
          items:
            type: string
          type: array
        includes:
          items:
            type: string
          type: array
        invalid:
          type: boolean
        invalid_reason:
          type: string
        is_public:
          type: boolean
        kind:
          type: string
        name:
          type: string
        public_name:
          type: string
        ql_resolved:
          type: string
        save_hist:
          type: boolean
        schedule_exit:
          type: boolean
        segment_ql:
          type: string
        size:
          type: integer
        slug_name:
          type: string
        table:
          type: string
        tags:
          items:
            type: string
          type: array
        updated:
          type: string
        withs_ql:
          type: string
      type: object
    models.ApiErrorResponse:
      properties:
        errors:
          description: Lytics API Errors
          items:
            $ref: '#/components/schemas/lioerrors.ApiV2ErrorOut'
          type: array
        request_id:
          type: string
        status:
          description: HTTP Status Code
          type: integer
      type: object
    models.SegmentDeleteStatus:
      properties:
        deleted:
          type: boolean
        id:
          type: string
        reason:
          type: string
        segments:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
      type: object
    lioerrors.ApiV2ErrorOut:
      properties:
        code:
          description: Lytics Error Code
          enum:
          - UNKNOWN-000
          - BADREQ-001
          - JOB-BADREQ-002
          - NOTFOUND-003
          - JOB-NOTFOUND-004
          - WF-NOTFOUND-005
          - AUTH-NOTFOUND-006
          - AUTHTYPE-NOTFOUND-007
          - AUTH-BADREQ-008
          - TABLE-NOTFOUND-009
          - SCHEMA-NOTFOUND-010
          - SCHEMAVERSION-NOTFOUND-011
          - ENTITY-NOTFOUND-012
          - QUERY-NOTFOUND-013
          - STREAM-NOTFOUND-014
          - PROVIDER-BADREQ-015
          - PROVIDER-NOTFOUND-016
          - UNAUTHORIZED-017
          - SCHEMA-INVALID-018
          - INTERNAL-019
          - ROUTERULE-NOTFOUND-020
          - ACCOUNT-NOTFOUND-021
          - JOB-FAULT-022
          - USER-NOTFOUND-023
          - USER-BADREQ-024
          - JSON-BADREQ-025
          - FORBIDDEN-026
          type: string
        level:
          description: When the error was generated
          type: string
        message:
          description: A description of the error that occurred
          type: string
        timestamp:
          description: The time the error occurred
          format: date-time
          type: string
      type: object
    models.Expr:
      properties:
        args:
          items:
            $ref: '#/components/schemas/models.Expr'
          type: array
        ident:
          type: string
        op:
          type: string
        val:
          type: string
      type: object
    models.ApiResponse:
      properties:
        _meta:
          additionalProperties: true
          description: Response Metadata
          type: object
        data:
          description: Response Payload
          type: object
        request_id:
          type: string
        status:
          description: HTTP Status Code
          type: integer
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
