openapi: 3.2.0
info:
  title: V1 Lytics System Events API
  version: 1.0.0
  description: 'The Lytics API is a _restful_ *JSON* api that includes:

    * *Data Collection* api''s for collection, and upload of custom data.'
servers:
- url: https://api.lytics.io
tags:
- name: System Events
  description: 'Get internal Lytics system events. These events

    are generally related to internal changes to state of

    an account. Common changes are CRUD Operations (Create,

    Update, Delete) of *Account*, *Admin User*, etc.'
paths:
  /api/event:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemEventsModel'
              examples:
                response:
                  value:
                    data:
                    - id: 13564999017e8b0e9994ff16411fd19b
                      ts: '1465584982676'
                      priority: 2
                      subject_type: topic-document
                      subject_id: '-1894399319812759219'
                      verb: created
                      account_id: 1234abcdefgh
                    - id: c57172d7d22e1c7ac4c80ce713e6e7cb
                      ts: '1465844458666'
                      priority: 2
                      subject_type: entity
                      subject_id: user/email/a.user@gmail.com
                      verb: clustered
                      related:
                      - type: segment
                        id: 791734b084019d99c82a475264464304
                      account_id: 1234abcdefgh
                      context:
                        in: '2016-06-13T18:58:29Z'
                    message: success
                    status: 200
      security:
      - ApiKeyAuth: []
      summary: System Events Query
      operationId: System Events Query
      description: 'Get list of system events.


        ```

        # get the dashboard news items

        curl -s -H "Authorization: $LIOKEY" \

        -XGET "https://api.lytics.io/api/event?query=dashboard_news" | jq ''.''


        # get list of all segments created in last 2 weeks

        curl -s -H "Authorization: $LIOKEY" \

        -XGET "https://api.lytics.io/api/event?type=segment&start=now-2w&limit=100&verb=created" | jq ''.''


        # get list of all events performed by user X


        # 1) first find a user id

        curl -s -H "Authorization: $LIOKEY" \

        -XGET "https://api.lytics.io/api/user/user.email@yourdomain.com" | jq ''.''


        # 2) get the id for that user

        curl -s -H "Authorization: $LIOKEY" \

        -XGET "https://api.lytics.io/api/event?type=user&id=USER_ID_FROM_PREVIOUS" | jq ''.''


        ```'
      tags:
      - System Events
      parameters:
      - name: account_id
        in: query
        description: Your Lytics account ID.
        required: false
        schema:
          type: string
      - name: before
        in: query
        description: 'Start fetching items with dates older than:   "now-3d" (now-2h, now-1w, "2016-03-03").  Date math, or absolute date.'
        required: false
        schema:
          type: string
          default: now-3d
      - name: after
        in: query
        description: 'Start fetching items with dates after:   "now-3d" (now-2h, now-1w, "2016-03-03").  Date math, or absolute date.'
        required: false
        schema:
          type: string
          default: now-3d
      - name: limit
        in: query
        description: Should segments this user is member of be included?
        required: false
        schema:
          type: integer
          default: 20
      - name: verb
        in: query
        description: Verb (created, updated, deleted, status, clustered)
        required: false
        schema:
          type: string
          default: '``'
      - name: type
        in: query
        description: Type of Object (entity, segment, work, account, user)
        required: false
        schema:
          type: string
          default: '``'
      - name: id
        in: query
        description: Id of Object (entity, segment, work, account, user)
        required: false
        schema:
          type: string
          default: '``'
  /api/event/:id:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemEventModel'
              examples:
                response:
                  value:
                    data:
                      id: c57172d7d22e1c7ac4c80ce713e6e7cb
                      ts: '1465844458666'
                      priority: 2
                      subject_type: entity
                      subject_id: user/email/a.user@gmail.com
                      verb: clustered
                      related:
                      - type: segment
                        id: 791734b084019d99c82a475264464304
                      account_id: 1234abcdefgh
                      context:
                        in: '2016-06-13T18:58:29Z'
                    message: success
                    status: 200
      security:
      - ApiKeyAuth: []
      summary: System Event Fetch
      operationId: System Event Fetch
      description: Get Single System Event
      tags:
      - System Events
components:
  schemas:
    SystemEventsModel:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              ts:
                type: string
              priority:
                type: number
              subject_type:
                type: string
              subject_id:
                type: string
              verb:
                type: string
              account_id:
                type: string
              related:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: string
              context:
                type: object
                properties:
                  in:
                    type: string
            required:
            - id
            - ts
            - priority
            - subject_type
            - subject_id
            - verb
            - account_id
        message:
          type: string
        status:
          type: number
      example:
        data:
        - id: 13564999017e8b0e9994ff16411fd19b
          ts: '1465584982676'
          priority: 2
          subject_type: topic-document
          subject_id: '-1894399319812759219'
          verb: created
          account_id: 1234abcdefgh
        - id: c57172d7d22e1c7ac4c80ce713e6e7cb
          ts: '1465844458666'
          priority: 2
          subject_type: entity
          subject_id: user/email/a.user@gmail.com
          verb: clustered
          related:
          - type: segment
            id: 791734b084019d99c82a475264464304
          account_id: 1234abcdefgh
          context:
            in: '2016-06-13T18:58:29Z'
        message: success
        status: 200
    SystemEventModel:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            ts:
              type: string
            priority:
              type: number
            subject_type:
              type: string
            subject_id:
              type: string
            verb:
              type: string
            related:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: string
            account_id:
              type: string
            context:
              type: object
              properties:
                in:
                  type: string
        message:
          type: string
        status:
          type: number
      example:
        data:
          id: c57172d7d22e1c7ac4c80ce713e6e7cb
          ts: '1465844458666'
          priority: 2
          subject_type: entity
          subject_id: user/email/a.user@gmail.com
          verb: clustered
          related:
          - type: segment
            id: 791734b084019d99c82a475264464304
          account_id: 1234abcdefgh
          context:
            in: '2016-06-13T18:58:29Z'
        message: success
        status: 200
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
x-readme:
  explorer-enabled: true
  proxy-enabled: true
