openapi: 3.2.0
info:
  title: V1 Lytics Subscription API
  version: 1.0.0
  description: 'The Lytics API is a _restful_ *JSON* api that includes:

    * *Data Collection* api''s for collection, and upload of custom data.'
servers:
- url: https://api.lytics.io
tags:
- name: Subscription
  description: '**BETA API**


    Subscriptions are queries into real-time events in Lytics, most

    commonly listening to a list of users entering/leaving segments

    ie _triggers_.'
paths:
  /api/subscription:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListModel'
              examples:
                response:
                  value:
                    data:
                    - id: 3573009ab39bbc9614f754c0fafd53d7
                      segment_ids:
                      - f897270369f977294871f21cc0d826e7
                      segmentql: FILTER AND ( score_momentum > 25, score_quantity > 25 ) ALIAS seg_webhook1
                      description: hello world
                      name: test1
                      updated: '2016-06-30T15:33:14.376262062-07:00'
                      created: '2016-06-30T15:33:14.37626196-07:00'
                      user_id: 2916b84ba4fa8b510591fd6e1c2320db
                      account_id: testid
                      workflow: webhook_triggers
      security:
      - ApiKeyAuth: []
      summary: SubscriptionList
      operationId: SubscriptionList
      description: 'Get A list of all Subscriptions.


        ```sh


        # find subscriptions that contain a specific segment.Id or segment.Slug

        curl -s -H "Authorization: $LIOKEY" -H "Content-Type: application/json" \

        "https://api.lytics.io/api/subscription?segment_id=seg_webhook1" | jq "."


        # same but use id.

        curl -s -H "Authorization: $LIOKEY" -H "Content-Type: application/json" \

        "https://api.lytics.io/api/subscription?segment_id=f897270369f977294871f21cc0d826e7" | jq "."


        ```'
      tags:
      - Subscription
      parameters:
      - name: account_id
        in: query
        description: Your Lytics account ID.
        required: false
        schema:
          type: string
      - name: segment_id
        in: query
        description: Id of Segment Id OR Slug to filter on
        required: false
        schema:
          type: string
          default: '``'
      - name: table
        in: query
        description: Table name.
        required: false
        schema:
          type: string
          default: user
    post:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionModel'
              examples:
                response:
                  value:
                    data:
                      id: 3573009ab39bbc9614f754c0fafd53d7
                      segment_ids:
                      - f897270369f977294871f21cc0d826e7
                      segmentql: FILTER AND ( score_momentum > 25, score_quantity > 25 ) ALIAS seg_webhook1
                      description: hello world
                      name: test1
                      updated: '2016-06-30T15:33:14.376262062-07:00'
                      created: '2016-06-30T15:33:14.37626196-07:00'
                      user_id: 2916b84ba4fa8b510591fd6e1c2320db
                      account_id: testid
                      workflow: webhook_triggers
      security:
      - ApiKeyAuth: []
      summary: Subscription Upsert
      operationId: Subscription Upsert
      description: 'Upsert a new Subscription. Subscriptions allow you to listen and recieve

        notification of events inside of Lytics, most common would be listen

        to users entering/leaving segments to serve as triggers.


        When creating subscriptions they have the following fields.


        | field | DataType | Description |

        |---------------|------------------|---------------|

        | channel | string | Required: What Type of subscription. [kinesis, webhook]

        | name | string | Name of this Subscription

        | description | string | Long text description (optional)

        | segment_ids | []string | List of segment Ids

        | withbackfill | bool | Should all members of this segment be included? They will be marked as "entered" segment.


        *Webhook* only fields:


        | field | DataType | Description |

        |---------------|-------------------|---------------|

        | webhook_url | string | Required for Webhooks, only used on webhooks, url to post to.

        | headers | map[string]string | Optional map of headers to send with webhook

        | segmentio_writekey | string | Optional api key for sending to segment.io


        *Kinesis* only fields:


        | field | DataType | Description |

        |------------------|------------------|---------------|

        | region | string | Required. AWS Region

        | stream | string | Required. Kinesis stream

        | role_arn | string | AWS IAM Role to use for assume-role (see integrations doc)

        | identifier_field | string | Optional. If provided, pull this field from user field and use as shard-key in Kinesis Put.


        Create a Webhook Subscription that includes the Segment definition and custom headers (optional)


        ```sh


        curl -s -H "Authorization: $LIOKEY" -H "Content-Type: application/json" \

        -XPOST "https://api.lytics.io/api/subscription" -d ''

        {

        "segmentql": "FILTER AND ( score_momentum > 25, score_quantity > 25 ) ALIAS seg_webhook1",

        "name":"test1",

        "channel" : "webhook",

        "description":"hello world",

        "webhook_url":"https://demo.appspot.com/log",

        "headers": {"Authorization": "dGhpczp0aGF0"}

        }

        '' | jq "."

        ```


        Create a Webhook subscription with list of SegmentId''s (previously created)

        to listen to.


        ```

        curl -s -H "Authorization: $LIOKEY" -H "Content-Type: application/json" \

        -XPOST "https://api.lytics.io/api/subscription" -d ''

        {

        "segment_ids": ["1234abcd","abc345"],

        "channel":"webhook",

        "name":"test2",

        "description":"hello world",

        "webhook_url":"https://demo.appspot.com/log"

        }

        '' | jq "."


        ```


        Create a Kinesis Subscription


        ```


        curl -s -H "Authorization: $LIOKEY" -H "Content-Type: application/json" \

        -XPOST "https://api.lytics.io/api/subscription" -d ''

        {

        "channel":"kinesis",

        "segment_ids": ["1234abcd","abc345"],

        "name":"test2",

        "description":"hello world",

        "stream":"lytics_triggers_stream",

        "region": "us-east-1",

        "identifier_field":"user_id",

        "role_arn":"arn:aws:iam::4444444444444:role/LyticsWriteToKinesis"

        }

        '' | jq "."


        ```'
      tags:
      - Subscription
      parameters:
      - name: account_id
        in: query
        description: Your Lytics account ID.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                segment_ids:
                  type: array
                  items:
                    type: string
                name:
                  type: string
                channel:
                  type: string
                withbackfill:
                  type: boolean
                description:
                  type: string
                webhook_url:
                  type: string
              example:
                segment_ids:
                - 1234abcd
                - abc345
                name: test2
                channel: webhook
                withbackfill: false
                description: hello world
                webhook_url: https://lyticswwwapp.appspot.com/log
  /api/subscription/{id}:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionModel'
              examples:
                response:
                  value:
                    data:
                      id: 3573009ab39bbc9614f754c0fafd53d7
                      segment_ids:
                      - f897270369f977294871f21cc0d826e7
                      segmentql: FILTER AND ( score_momentum > 25, score_quantity > 25 ) ALIAS seg_webhook1
                      description: hello world
                      name: test1
                      updated: '2016-06-30T15:33:14.376262062-07:00'
                      created: '2016-06-30T15:33:14.37626196-07:00'
                      user_id: 2916b84ba4fa8b510591fd6e1c2320db
                      account_id: testid
                      workflow: webhook_triggers
      security:
      - ApiKeyAuth: []
      summary: Subscription Fetch
      operationId: Subscription Fetch
      description: Get a single Subscription Webhook.
      tags:
      - Subscription
      parameters:
      - name: account_id
        in: query
        description: Your Lytics account ID.
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: subscription Id in path
        required: true
        example: '1234'
        schema:
          type: string
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
      security:
      - ApiKeyAuth: []
      summary: Subscription Delete
      operationId: Subscription Delete
      description: Delete A Subscription.
      tags:
      - Subscription
      parameters:
      - name: account_id
        in: query
        description: Your Lytics account ID.
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: subscription Id in path
        required: true
        example: '1234'
        schema:
          type: string
components:
  schemas:
    SubscriptionModel:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            segment_ids:
              type: array
              items:
                type: string
            segmentql:
              type: string
            description:
              type: string
            name:
              type: string
            updated:
              type: string
            created:
              type: string
            user_id:
              type: string
            account_id:
              type: string
            workflow:
              type: string
      example:
        data:
          id: 3573009ab39bbc9614f754c0fafd53d7
          segment_ids:
          - f897270369f977294871f21cc0d826e7
          segmentql: FILTER AND ( score_momentum > 25, score_quantity > 25 ) ALIAS seg_webhook1
          description: hello world
          name: test1
          updated: '2016-06-30T15:33:14.376262062-07:00'
          created: '2016-06-30T15:33:14.37626196-07:00'
          user_id: 2916b84ba4fa8b510591fd6e1c2320db
          account_id: testid
          workflow: webhook_triggers
    SubscriptionListModel:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              segment_ids:
                type: array
                items:
                  type: string
              segmentql:
                type: string
              description:
                type: string
              name:
                type: string
              updated:
                type: string
              created:
                type: string
              user_id:
                type: string
              account_id:
                type: string
              workflow:
                type: string
      example:
        data:
        - id: 3573009ab39bbc9614f754c0fafd53d7
          segment_ids:
          - f897270369f977294871f21cc0d826e7
          segmentql: FILTER AND ( score_momentum > 25, score_quantity > 25 ) ALIAS seg_webhook1
          description: hello world
          name: test1
          updated: '2016-06-30T15:33:14.376262062-07:00'
          created: '2016-06-30T15:33:14.37626196-07:00'
          user_id: 2916b84ba4fa8b510591fd6e1c2320db
          account_id: testid
          workflow: webhook_triggers
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
x-readme:
  explorer-enabled: true
  proxy-enabled: true
