openapi: 3.2.0
info:
  contact:
    email: support@lytics.com
    name: Lytics Support
    url: https://support.lytics.com/hc/en-us
  description: Version 2 of the Lytics API
  termsOfService: https://www.lytics.com/terms-of-service/
  title: Lytics Auths API
  version: '2.0'
servers:
- url: https://api.lytics.io/v2
tags:
- description: Create and manage credentials and access to external systems.
  name: Auths
paths:
  /auth:
    get:
      description: Get a list of all auths in an account
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/models.AuthResponse'
                      type: array
                  type: object
          description: Auth List
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Get auths
      tags:
      - Auths
  /auth/airship-connect:
    post:
      description: Create a AirshipConnect auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AirshipConnect'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipConnect: Create auth'
      tags:
      - Auths
  /auth/airship-connect/{id}:
    get:
      description: Get a AirshipConnect auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipConnect: Get auth'
      tags:
      - Auths
    put:
      description: Update a AirshipConnect auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AirshipConnect'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipConnect: Update auth'
      tags:
      - Auths
  /auth/airship-master-secret:
    post:
      description: Create a AirshipMasterSecret auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AirshipMasterSecret'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipMasterSecret: Create auth'
      tags:
      - Auths
  /auth/airship-master-secret/{id}:
    get:
      description: Get a AirshipMasterSecret auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipMasterSecret: Get auth'
      tags:
      - Auths
    put:
      description: Update a AirshipMasterSecret auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AirshipMasterSecret'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipMasterSecret: Update auth'
      tags:
      - Auths
  /auth/algolia-api-key:
    post:
      description: Create a AlgoliaApiKey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AlgoliaApiKey'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AlgoliaApiKey: Create auth'
      tags:
      - Auths
  /auth/algolia-api-key/{id}:
    get:
      description: Get a AlgoliaApiKey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AlgoliaApiKey: Get auth'
      tags:
      - Auths
    put:
      description: Update a AlgoliaApiKey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AlgoliaApiKey'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AlgoliaApiKey: Update auth'
      tags:
      - Auths
  /auth/amplitude-api-key:
    post:
      description: Create a AmplitudeApiKey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmplitudeApiKey'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmplitudeApiKey: Create auth'
      tags:
      - Auths
  /auth/amplitude-api-key/{id}:
    get:
      description: Get a AmplitudeApiKey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmplitudeApiKey: Get auth'
      tags:
      - Auths
    put:
      description: Update a AmplitudeApiKey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmplitudeApiKey'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmplitudeApiKey: Update auth'
      tags:
      - Auths
  /auth/api:
    post:
      description: Create a Api auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.Api'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'Api: Create auth'
      tags:
      - Auths
  /auth/api/{id}:
    get:
      description: Get a Api auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'Api: Get auth'
      tags:
      - Auths
    put:
      description: Update a Api auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.Api'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'Api: Update auth'
      tags:
      - Auths
  /auth/apikey:
    post:
      description: Create a Apikey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.Apikey'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'Apikey: Create auth'
      tags:
      - Auths
  /auth/apikey/{id}:
    get:
      description: Get a Apikey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'Apikey: Get auth'
      tags:
      - Auths
    put:
      description: Update a Apikey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.Apikey'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'Apikey: Update auth'
      tags:
      - Auths
  /auth/appsflyer-devkey:
    post:
      description: Create a AppsflyerDevkey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AppsflyerDevkey'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AppsflyerDevkey: Create auth'
      tags:
      - Auths
  /auth/appsflyer-devkey/{id}:
    get:
      description: Get a AppsflyerDevkey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AppsflyerDevkey: Get auth'
      tags:
      - Auths
    put:
      description: Update a AppsflyerDevkey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AppsflyerDevkey'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AppsflyerDevkey: Update auth'
      tags:
      - Auths
  /auth/attentive-api-key:
    post:
      description: Create a AttentiveApiKey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AttentiveApiKey'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AttentiveApiKey: Create auth'
      tags:
      - Auths
  /auth/attentive-api-key/{id}:
    get:
      description: Get a AttentiveApiKey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AttentiveApiKey: Get auth'
      tags:
      - Auths
    put:
      description: Update a AttentiveApiKey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AttentiveApiKey'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AttentiveApiKey: Update auth'
      tags:
      - Auths
  /auth/aws-aws-keys:
    post:
      description: Create a Aws_AwsKeys auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.Aws_AwsKeys'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'Aws_AwsKeys: Create auth'
      tags:
      - Auths
  /auth/aws-aws-keys/{id}:
    get:
      description: Get a Aws_AwsKeys auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'Aws_AwsKeys: Get auth'
      tags:
      - Auths
    put:
      description: Update a Aws_AwsKeys auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.Aws_AwsKeys'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'Aws_AwsKeys: Update auth'
      tags:
      - Auths
  /auth/aws-delegated:
    post:
      description: Create a AwsDelegated auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AwsDelegated'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsDelegated: Create auth'
      tags:
      - Auths
  /auth/aws-delegated-pgp:
    post:
      description: Create a AwsDelegatedPgp auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AwsDelegatedPgp'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsDelegatedPgp: Create auth'
      tags:
      - Auths
  /auth/aws-delegated-pgp/{id}:
    get:
      description: Get a AwsDelegatedPgp auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsDelegatedPgp: Get auth'
      tags:
      - Auths
    put:
      description: Update a AwsDelegatedPgp auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AwsDelegatedPgp'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsDelegatedPgp: Update auth'
      tags:
      - Auths
  /auth/aws-delegated-public-pgp:
    post:
      description: Create a AwsDelegatedPublicPgp auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AwsDelegatedPublicPgp'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsDelegatedPublicPgp: Create auth'
      tags:
      - Auths
  /auth/aws-delegated-public-pgp/{id}:
    get:
      description: Get a AwsDelegatedPublicPgp auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsDelegatedPublicPgp: Get auth'
      tags:
      - Auths
    put:
      description: Update a AwsDelegatedPublicPgp auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AwsDelegatedPublicPgp'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsDelegatedPublicPgp: Update auth'
      tags:
      - Auths
  /auth/aws-delegated/{id}:
    get:
      description: Get a AwsDelegated auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsDelegated: Get auth'
      tags:
      - Auths
    put:
      description: Update a AwsDelegated auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AwsDelegated'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsDelegated: Update auth'
      tags:
      - Auths
  /auth/aws-keys:
    post:
      description: Create a AwsKeys auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AwsKeys'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsKeys: Create auth'
      tags:
      - Auths
  /auth/aws-keys-pgp:
    post:
      description: Create a AwsKeysPgp auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AwsKeysPgp'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsKeysPgp: Create auth'
      tags:
      - Auths
  /auth/aws-keys-pgp/{id}:
    get:
      description: Get a AwsKeysPgp auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsKeysPgp: Get auth'
      tags:
      - Auths
    put:
      description: Update a AwsKeysPgp auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AwsKeysPgp'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsKeysPgp: Update auth'
      tags:
      - Auths
  /auth/aws-keys-public-pgp:
    post:
      description: Create a AwsKeysPublicPgp auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AwsKeysPublicPgp'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsKeysPublicPgp: Create auth'
      tags:
      - Auths
  /auth/aws-keys-public-pgp/{id}:
    get:
      description: Get a AwsKeysPublicPgp auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsKeysPublicPgp: Get auth'
      tags:
      - Auths
    put:
      description: Update a AwsKeysPublicPgp auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AwsKeysPublicPgp'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsKeysPublicPgp: Update auth'
      tags:
      - Auths
  /auth/aws-keys/{id}:
    get:
      description: Get a AwsKeys auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsKeys: Get auth'
      tags:
      - Auths
    put:
      description: Update a AwsKeys auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AwsKeys'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AwsKeys: Update auth'
      tags:
      - Auths
  /auth/aws-s3-redshift:
    post:
      description: Create a Aws_S3_Redshift auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.Aws_S3_Redshift'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'Aws_S3_Redshift: Create auth'
      tags:
      - Auths
  /auth/aws-s3-redshift/{id}:
    get:
      description: Get a Aws_S3_Redshift auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'Aws_S3_Redshift: Get auth'
      tags:
      - Auths
    put:
      description: Update a Aws_S3_Redshift auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.Aws_S3_Redshift'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'Aws_S3_Redshift: Update auth'
      tags:
      - Auths
  /auth/azure-event-hub:
    post:
      description: Create a AzureEventHub auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AzureEventHub'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AzureEventHub: Create auth'
      tags:
      - Auths
  /auth/azure-event-hub/{id}:
    get:
      description: Get a AzureEventHub auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AzureEventHub: Get auth'
      tags:
      - Auths
    put:
      description: Update a AzureEventHub auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AzureEventHub'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AzureEventHub: Update auth'
      tags:
      - Auths
  /auth/azure-storage-connection:
    post:
      description: Create a AzureStorageConnection auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AzureStorageConnection'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AzureStorageConnection: Create auth'
      tags:
      - Auths
  /auth/azure-storage-connection/{id}:
    get:
      description: Get a AzureStorageConnection auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AzureStorageConnection: Get auth'
      tags:
      - Auths
    put:
      description: Update a AzureStorageConnection auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AzureStorageConnection'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AzureStorageConnection: Update auth'
      tags:
      - Auths
  /auth/azuresql-db:
    post:
      description: Create a AzuresqlDb auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AzuresqlDb'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AzuresqlDb: Create auth'
      tags:
      - Auths
  /auth/azuresql-db/{id}:
    get:
      description: Get a AzuresqlDb auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AzuresqlDb: Get auth'
      tags:
      - Auths
    put:
      description: Update a AzuresqlDb auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AzuresqlDb'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AzuresqlDb: Update auth'
      tags:
      - Auths
  /auth/basic-auth:
    post:
      description: Create a BasicAuth auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.BasicAuth'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'BasicAuth: Create auth'
      tags:
      - Auths
  /auth/basic-auth/{id}:
    get:
      description: Get a BasicAuth auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'BasicAuth: Get auth'
      tags:
      - Auths
    put:
      description: Update a BasicAuth auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.BasicAuth'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'BasicAuth: Update auth'
      tags:
      - Auths
  /auth/bc-access-token:
    post:
      description: Create a BcAccessToken auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.BcAccessToken'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'BcAccessToken: Create auth'
      tags:
      - Auths
  /auth/bc-access-token/{id}:
    get:
      description: Get a BcAccessToken auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'BcAccessToken: Get auth'
      tags:
      - Auths
    put:
      description: Update a BcAccessToken auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.BcAccessToken'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'BcAccessToken: Update auth'
      tags:
      - Auths
  /auth/bluehornet-api-key:
    post:
      description: Create a BluehornetApiKey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.AuthRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.BluehornetApiKey'
                type: object
        description: The Authorization Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'BluehornetApiKey: Create auth'
      tags:
      - Auths
  /auth/bluehornet-api-key/{id}:
    get:
      description: Get a BluehornetApiKey auth
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Authorization ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/models.AuthResponse'
                  type: object
          description: Authorization Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'BluehornetApiKey: Get auth'
      tags:
      - Auths
    put:
      description: Update a BluehornetApiKey auth
      parameters:
[...]
