openapi: 3.2.0
info:
  title: V1 Lytics Segment Collection API
  version: 1.0.0
  description: 'The Lytics API is a _restful_ *JSON* api that includes:

    * *Data Collection* api''s for collection, and upload of custom data.'
servers:
- url: https://api.lytics.io
tags:
- name: SegmentCollection
  description: Segment Collections are grouped/named lists of segments.
paths:
  /api/segmentcollection:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SegmentCollectionListModel'
      security:
      - ApiKeyAuth: []
      summary: SegmentCollectionList
      operationId: SegmentCollectionList
      description: Get list **Segment Collections**
      tags:
      - SegmentCollection
      parameters:
      - name: account_id
        in: query
        description: Your Lytics account ID.
        required: false
        schema:
          type: string
      - name: sideload
        in: query
        description: should segments for collection should be sideloaded
        required: false
        example: 'true'
        schema:
          type: boolean
    post:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SegmentCollectionModel'
      security:
      - ApiKeyAuth: []
      summary: SegmentCollection Create
      operationId: SegmentCollectionCreate
      description: Create a new SegmentCollection from existing segments.
      tags:
      - SegmentCollection
      parameters:
      - name: account_id
        in: query
        description: Your Lytics account ID.
        required: false
        schema:
          type: string
      - name: sideload
        in: query
        description: should segments for collection should be sideloaded
        required: false
        example: 'true'
        schema:
          type: boolean
      requestBody:
        $ref: '#/components/requestBodies/SegmentCollection_CreateBody'
      x-operation-id-source: normalized
      x-operation-id-original: SegmentCollection Create
  /api/segmentcollection/{id}:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SegmentCollectionModel'
      security:
      - ApiKeyAuth: []
      summary: SegmentCollection Fetch
      operationId: SegmentCollectionFetch
      description: Fetch a segment collection by **id** or **slug**
      tags:
      - SegmentCollection
      parameters:
      - name: account_id
        in: query
        description: Your Lytics account ID.
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: id of segment collection
        required: true
        example: 1234abcd
        schema:
          type: string
      - name: sideload
        in: query
        description: should segments for collection should be sideloaded
        required: false
        example: 'true'
        schema:
          type: boolean
      x-operation-id-source: normalized
      x-operation-id-original: SegmentCollection Fetch
    put:
      responses:
        '201':
          description: Created
          headers: {}
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SegmentCollectionModel'
      security:
      - ApiKeyAuth: []
      summary: SegmentCollection Update
      operationId: SegmentCollectionUpdate
      description: Update a SegmentCollection
      tags:
      - SegmentCollection
      parameters:
      - name: account_id
        in: query
        description: Your Lytics account ID.
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: id of segment collection
        required: true
        example: 1234abcd
        schema:
          type: string
      - name: sideload
        in: query
        description: should segments for collection should be sideloaded
        required: false
        example: 'true'
        schema:
          type: boolean
      requestBody:
        $ref: '#/components/requestBodies/SegmentCollection_CreateBody'
      x-operation-id-source: normalized
      x-operation-id-original: SegmentCollection Update
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
      security:
      - ApiKeyAuth: []
      summary: SegmentCollection Delete
      operationId: SegmentCollectionDelete
      description: Delete a SegmentCollection model.
      tags:
      - SegmentCollection
      parameters:
      - name: account_id
        in: query
        description: Your Lytics account ID.
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: ID of the SegmentCollection model to delete.
        required: true
        example: source::target
        schema:
          type: string
      x-operation-id-source: normalized
      x-operation-id-original: SegmentCollection Delete
components:
  requestBodies:
    SegmentCollection_CreateBody:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
              collection:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    order:
                      type: number
                  required:
                  - id
                  - order
            example:
              name: Collection Name
              collection:
              - id: 1234abcd
                order: 0
              - id: 3456abcd
                order: 1
  schemas:
    SegmentCollectionListModel: {}
    SegmentCollectionModel: {}
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
x-readme:
  explorer-enabled: true
  proxy-enabled: true
