openapi: 3.2.0
info:
  title: V1 Lytics Provider API
  version: 1.0.0
  description: 'The Lytics API is a _restful_ *JSON* api that includes:

    * *Data Collection* api''s for collection, and upload of custom data.'
servers:
- url: https://api.lytics.io
tags:
- name: Provider
  description: Provider is a 3rd party Lytics Integrates with (Mailchimp, Optimizely, Mixpanel, Facebook etc)
paths:
  /api/provider:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderListModel'
      security:
      - ApiKeyAuth: []
      summary: Provider List
      operationId: Provider List
      description: Provider list api
      tags:
      - Provider
  /api/provider/:provider_slug:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderModel'
              examples:
                response:
                  value:
                    data:
                      auth_description: ''
                      categories:
                      - source
                      - social
                      - export
                      description: ''
                      hidden: false
                      id: 26cae7718c32180a7a0f8e19d6d40a59
                      name: Facebook
                      namespace: fb
                      no_auth: false
                      oauth2:
                        auth_endpoint: https://www.facebook.com/dialog/oauth
                        auth_params:
                          response_type:
                          - code
                        client_id: '500418690088145'
                        redirect_uri: https://api.lytics.io/api/oauth/receive
                        scope: email,read_insights,manage_pages,ads_management
                        token_endpoint: https://graph.facebook.com/oauth/access_token
                      slug: facebook
      security:
      - ApiKeyAuth: []
      summary: Provider Fetch
      operationId: Provider Fetch
      description: Get single **Provider**
      tags:
      - Provider
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
      security:
      - ApiKeyAuth: []
      summary: Remove a Provider
      operationId: Remove a Provider
      description: Delete by id/slug
      tags:
      - Provider
components:
  schemas:
    ProviderListModel: {}
    ProviderModel:
      type: object
      properties:
        data:
          type: object
          properties:
            auth_description:
              type: string
            categories:
              type: array
              items:
                type: string
            description:
              type: string
            hidden:
              type: boolean
            id:
              type: string
            name:
              type: string
            namespace:
              type: string
            no_auth:
              type: boolean
            oauth2:
              type: object
              properties:
                auth_endpoint:
                  type: string
                auth_params:
                  type: object
                  properties:
                    response_type:
                      type: array
                      items:
                        type: string
                client_id:
                  type: string
                redirect_uri:
                  type: string
                scope:
                  type: string
                token_endpoint:
                  type: string
            slug:
              type: string
      example:
        data:
          auth_description: ''
          categories:
          - source
          - social
          - export
          description: ''
          hidden: false
          id: 26cae7718c32180a7a0f8e19d6d40a59
          name: Facebook
          namespace: fb
          no_auth: false
          oauth2:
            auth_endpoint: https://www.facebook.com/dialog/oauth
            auth_params:
              response_type:
              - code
            client_id: '500418690088145'
            redirect_uri: https://api.lytics.io/api/oauth/receive
            scope: email,read_insights,manage_pages,ads_management
            token_endpoint: https://graph.facebook.com/oauth/access_token
          slug: facebook
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
x-readme:
  explorer-enabled: true
  proxy-enabled: true
