openapi: 3.2.0
info:
  contact:
    email: support@lytics.com
    name: Lytics Support
    url: https://support.lytics.com/hc/en-us
  description: Version 2 of the Lytics API
  termsOfService: https://www.lytics.com/terms-of-service/
  title: Lytics Jobs API
  version: '2.0'
servers:
- url: https://api.lytics.io/v2
tags:
- description: Create and manage data import and export jobs.
  name: Jobs
paths:
  /job:
    get:
      description: Get a list of all jobs in an account
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: Optional workflow filter
        in: query
        name: workflow
        schema:
          type: string
      - description: Optional auth IDs filter
        in: query
        name: auth_ids
        schema:
          items:
            type: string
          type: array
      - description: Include completed jobs in the response
        in: query
        name: show_completed
        schema:
          type: boolean
      - description: Include deleted jobs in the response
        in: query
        name: show_deleted
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/models.JobResponse'
                      type: array
                  type: object
          description: Job List
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: Get jobs
      tags:
      - Jobs
  /job/adroll-sync:
    post:
      description: Create a AdrollSync job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AdrollSync'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdrollSync'
                        type: object
                  type: object
          description: AdrollSync Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdrollSync: Create job'
      tags:
      - Jobs
  /job/adroll-sync/{id}:
    get:
      description: Get the summary of a AdrollSync job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdrollSync'
                        type: object
                  type: object
          description: AdrollSync Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdrollSync: Get job'
      tags:
      - Jobs
    put:
      description: Update a AdrollSync job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AdrollSync'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdrollSync'
                        type: object
                  type: object
          description: AdrollSync Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdrollSync: Update job'
      tags:
      - Jobs
  /job/adwords-customer-match:
    post:
      description: Create a AdwordsCustomerMatch job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AdwordsCustomerMatch'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdwordsCustomerMatch'
                        type: object
                  type: object
          description: AdwordsCustomerMatch Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdwordsCustomerMatch: Create job'
      tags:
      - Jobs
  /job/adwords-customer-match-mobile:
    post:
      description: Create a AdwordsCustomerMatchMobile job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AdwordsCustomerMatchMobile'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdwordsCustomerMatchMobile'
                        type: object
                  type: object
          description: AdwordsCustomerMatchMobile Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdwordsCustomerMatchMobile: Create job'
      tags:
      - Jobs
  /job/adwords-customer-match-mobile/{id}:
    get:
      description: Get the summary of a AdwordsCustomerMatchMobile job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdwordsCustomerMatchMobile'
                        type: object
                  type: object
          description: AdwordsCustomerMatchMobile Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdwordsCustomerMatchMobile: Get job'
      tags:
      - Jobs
    put:
      description: Update a AdwordsCustomerMatchMobile job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AdwordsCustomerMatchMobile'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdwordsCustomerMatchMobile'
                        type: object
                  type: object
          description: AdwordsCustomerMatchMobile Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdwordsCustomerMatchMobile: Update job'
      tags:
      - Jobs
  /job/adwords-customer-match-userid:
    post:
      description: Create a AdwordsCustomerMatchUserid job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AdwordsCustomerMatchUserid'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdwordsCustomerMatchUserid'
                        type: object
                  type: object
          description: AdwordsCustomerMatchUserid Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdwordsCustomerMatchUserid: Create job'
      tags:
      - Jobs
  /job/adwords-customer-match-userid/{id}:
    get:
      description: Get the summary of a AdwordsCustomerMatchUserid job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdwordsCustomerMatchUserid'
                        type: object
                  type: object
          description: AdwordsCustomerMatchUserid Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdwordsCustomerMatchUserid: Get job'
      tags:
      - Jobs
    put:
      description: Update a AdwordsCustomerMatchUserid job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AdwordsCustomerMatchUserid'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdwordsCustomerMatchUserid'
                        type: object
                  type: object
          description: AdwordsCustomerMatchUserid Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdwordsCustomerMatchUserid: Update job'
      tags:
      - Jobs
  /job/adwords-customer-match/{id}:
    get:
      description: Get the summary of a AdwordsCustomerMatch job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdwordsCustomerMatch'
                        type: object
                  type: object
          description: AdwordsCustomerMatch Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdwordsCustomerMatch: Get job'
      tags:
      - Jobs
    put:
      description: Update a AdwordsCustomerMatch job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AdwordsCustomerMatch'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdwordsCustomerMatch'
                        type: object
                  type: object
          description: AdwordsCustomerMatch Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdwordsCustomerMatch: Update job'
      tags:
      - Jobs
  /job/adwords-export:
    post:
      description: Create a AdwordsExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AdwordsExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdwordsExport'
                        type: object
                  type: object
          description: AdwordsExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdwordsExport: Create job'
      tags:
      - Jobs
  /job/adwords-export/{id}:
    get:
      description: Get the summary of a AdwordsExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdwordsExport'
                        type: object
                  type: object
          description: AdwordsExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdwordsExport: Get job'
      tags:
      - Jobs
    put:
      description: Update a AdwordsExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AdwordsExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AdwordsExport'
                        type: object
                  type: object
          description: AdwordsExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AdwordsExport: Update job'
      tags:
      - Jobs
  /job/airship-compliance-import:
    post:
      description: Create a AirshipComplianceImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AirshipComplianceImport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AirshipComplianceImport'
                        type: object
                  type: object
          description: AirshipComplianceImport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipComplianceImport: Create job'
      tags:
      - Jobs
  /job/airship-compliance-import/{id}:
    get:
      description: Get the summary of a AirshipComplianceImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AirshipComplianceImport'
                        type: object
                  type: object
          description: AirshipComplianceImport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipComplianceImport: Get job'
      tags:
      - Jobs
    put:
      description: Update a AirshipComplianceImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AirshipComplianceImport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AirshipComplianceImport'
                        type: object
                  type: object
          description: AirshipComplianceImport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipComplianceImport: Update job'
      tags:
      - Jobs
  /job/airship-export:
    post:
      description: Create a AirshipExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AirshipExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AirshipExport'
                        type: object
                  type: object
          description: AirshipExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipExport: Create job'
      tags:
      - Jobs
  /job/airship-export/{id}:
    get:
      description: Get the summary of a AirshipExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AirshipExport'
                        type: object
                  type: object
          description: AirshipExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipExport: Get job'
      tags:
      - Jobs
    put:
      description: Update a AirshipExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AirshipExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AirshipExport'
                        type: object
                  type: object
          description: AirshipExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipExport: Update job'
      tags:
      - Jobs
  /job/airship-import:
    post:
      description: Create a AirshipImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AirshipImport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AirshipImport'
                        type: object
                  type: object
          description: AirshipImport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipImport: Create job'
      tags:
      - Jobs
  /job/airship-import/{id}:
    get:
      description: Get the summary of a AirshipImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AirshipImport'
                        type: object
                  type: object
          description: AirshipImport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipImport: Get job'
      tags:
      - Jobs
    put:
      description: Update a AirshipImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AirshipImport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AirshipImport'
                        type: object
                  type: object
          description: AirshipImport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AirshipImport: Update job'
      tags:
      - Jobs
  /job/algolia-export:
    post:
      description: Create a AlgoliaExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AlgoliaExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AlgoliaExport'
                        type: object
                  type: object
          description: AlgoliaExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AlgoliaExport: Create job'
      tags:
      - Jobs
  /job/algolia-export/{id}:
    get:
      description: Get the summary of a AlgoliaExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AlgoliaExport'
                        type: object
                  type: object
          description: AlgoliaExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AlgoliaExport: Get job'
      tags:
      - Jobs
    put:
      description: Update a AlgoliaExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AlgoliaExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AlgoliaExport'
                        type: object
                  type: object
          description: AlgoliaExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AlgoliaExport: Update job'
      tags:
      - Jobs
  /job/algolia-import:
    post:
      description: Create a AlgoliaImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AlgoliaImport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AlgoliaImport'
                        type: object
                  type: object
          description: AlgoliaImport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AlgoliaImport: Create job'
      tags:
      - Jobs
  /job/algolia-import/{id}:
    get:
      description: Get the summary of a AlgoliaImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AlgoliaImport'
                        type: object
                  type: object
          description: AlgoliaImport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AlgoliaImport: Get job'
      tags:
      - Jobs
    put:
      description: Update a AlgoliaImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AlgoliaImport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AlgoliaImport'
                        type: object
                  type: object
          description: AlgoliaImport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AlgoliaImport: Update job'
      tags:
      - Jobs
  /job/amazon-ads-audience-export:
    post:
      description: Create a AmazonAdsAudienceExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmazonAdsAudienceExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonAdsAudienceExport'
                        type: object
                  type: object
          description: AmazonAdsAudienceExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonAdsAudienceExport: Create job'
      tags:
      - Jobs
  /job/amazon-ads-audience-export/{id}:
    get:
      description: Get the summary of a AmazonAdsAudienceExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonAdsAudienceExport'
                        type: object
                  type: object
          description: AmazonAdsAudienceExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonAdsAudienceExport: Get job'
      tags:
      - Jobs
    put:
      description: Update a AmazonAdsAudienceExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmazonAdsAudienceExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonAdsAudienceExport'
                        type: object
                  type: object
          description: AmazonAdsAudienceExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonAdsAudienceExport: Update job'
      tags:
      - Jobs
  /job/amazon-ads-export-audience:
    post:
      description: Create a AmazonAdsExportAudience job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmazonAdsExportAudience'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonAdsExportAudience'
                        type: object
                  type: object
          description: AmazonAdsExportAudience Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonAdsExportAudience: Create job'
      tags:
      - Jobs
  /job/amazon-ads-export-audience/{id}:
    get:
      description: Get the summary of a AmazonAdsExportAudience job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonAdsExportAudience'
                        type: object
                  type: object
          description: AmazonAdsExportAudience Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonAdsExportAudience: Get job'
      tags:
      - Jobs
    put:
      description: Update a AmazonAdsExportAudience job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmazonAdsExportAudience'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonAdsExportAudience'
                        type: object
                  type: object
          description: AmazonAdsExportAudience Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonAdsExportAudience: Update job'
      tags:
      - Jobs
  /job/amazon-capi-export:
    post:
      description: Create a AmazonCapiExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmazonCapiExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonCapiExport'
                        type: object
                  type: object
          description: AmazonCapiExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonCapiExport: Create job'
      tags:
      - Jobs
  /job/amazon-capi-export/{id}:
    get:
      description: Get the summary of a AmazonCapiExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonCapiExport'
                        type: object
                  type: object
          description: AmazonCapiExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonCapiExport: Get job'
      tags:
      - Jobs
    put:
      description: Update a AmazonCapiExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmazonCapiExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonCapiExport'
                        type: object
                  type: object
          description: AmazonCapiExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonCapiExport: Update job'
      tags:
      - Jobs
  /job/amazon-dsp-export:
    post:
      description: Create a AmazonDspExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmazonDspExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonDspExport'
                        type: object
                  type: object
          description: AmazonDspExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonDspExport: Create job'
      tags:
      - Jobs
  /job/amazon-dsp-export/{id}:
    get:
      description: Get the summary of a AmazonDspExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonDspExport'
                        type: object
                  type: object
          description: AmazonDspExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonDspExport: Get job'
      tags:
      - Jobs
    put:
      description: Update a AmazonDspExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmazonDspExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonDspExport'
                        type: object
                  type: object
          description: AmazonDspExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonDspExport: Update job'
      tags:
      - Jobs
  /job/amazon-dsp-match:
    post:
      description: Create a AmazonDspMatch job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmazonDspMatch'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonDspMatch'
                        type: object
                  type: object
          description: AmazonDspMatch Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonDspMatch: Create job'
      tags:
      - Jobs
  /job/amazon-dsp-match/{id}:
    get:
      description: Get the summary of a AmazonDspMatch job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonDspMatch'
                        type: object
                  type: object
          description: AmazonDspMatch Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonDspMatch: Get job'
      tags:
      - Jobs
    put:
      description: Update a AmazonDspMatch job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmazonDspMatch'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonDspMatch'
                        type: object
                  type: object
          description: AmazonDspMatch Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonDspMatch: Update job'
      tags:
      - Jobs
  /job/amazon-marketing-cloud-export:
    post:
      description: Create a AmazonMarketingCloudExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmazonMarketingCloudExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonMarketingCloudExport'
                        type: object
                  type: object
          description: AmazonMarketingCloudExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonMarketingCloudExport: Create job'
      tags:
      - Jobs
  /job/amazon-marketing-cloud-export/{id}:
    get:
      description: Get the summary of a AmazonMarketingCloudExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonMarketingCloudExport'
                        type: object
                  type: object
          description: AmazonMarketingCloudExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonMarketingCloudExport: Get job'
      tags:
      - Jobs
    put:
      description: Update a AmazonMarketingCloudExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmazonMarketingCloudExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmazonMarketingCloudExport'
                        type: object
                  type: object
          description: AmazonMarketingCloudExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmazonMarketingCloudExport: Update job'
      tags:
      - Jobs
  /job/amc-export:
    post:
      description: Create a AmcExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmcExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmcExport'
                        type: object
                  type: object
          description: AmcExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmcExport: Create job'
      tags:
      - Jobs
  /job/amc-export/{id}:
    get:
      description: Get the summary of a AmcExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmcExport'
                        type: object
                  type: object
          description: AmcExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmcExport: Get job'
      tags:
      - Jobs
    put:
      description: Update a AmcExport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmcExport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmcExport'
                        type: object
                  type: object
          description: AmcExport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmcExport: Update job'
      tags:
      - Jobs
  /job/amplitude-cohort-import:
    post:
      description: Create a AmplitudeCohortImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmplitudeCohortImport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmplitudeCohortImport'
                        type: object
                  type: object
          description: AmplitudeCohortImport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmplitudeCohortImport: Create job'
      tags:
      - Jobs
  /job/amplitude-cohort-import/{id}:
    get:
      description: Get the summary of a AmplitudeCohortImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmplitudeCohortImport'
                        type: object
                  type: object
          description: AmplitudeCohortImport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmplitudeCohortImport: Get job'
      tags:
      - Jobs
    put:
      description: Update a AmplitudeCohortImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmplitudeCohortImport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmplitudeCohortImport'
                        type: object
                  type: object
          description: AmplitudeCohortImport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmplitudeCohortImport: Update job'
      tags:
      - Jobs
  /job/amplitude-event-import:
    post:
      description: Create a AmplitudeEventImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmplitudeEventImport'
                type: object
        description: The Job Configuration
        required: true
        x-originalParamName: job
      responses:
        '201':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmplitudeEventImport'
                        type: object
                  type: object
          description: AmplitudeEventImport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmplitudeEventImport: Create job'
      tags:
      - Jobs
  /job/amplitude-event-import/{id}:
    get:
      description: Get the summary of a AmplitudeEventImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/models.ApiResponse'
                - properties:
                    data:
                      allOf:
                      - $ref: '#/components/schemas/models.JobResponse'
                      - properties:
                          config:
                            $ref: '#/components/schemas/models.AmplitudeEventImport'
                        type: object
                  type: object
          description: AmplitudeEventImport Job
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ApiErrorResponse'
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      summary: 'AmplitudeEventImport: Get job'
      tags:
      - Jobs
    put:
      description: Update a AmplitudeEventImport job
      parameters:
      - description: The account ID. Defaults to the user's default account.
        in: query
        name: account_id
        schema:
          type: string
      - description: The Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              allOf:
              - $ref: '#/components/schemas/models.JobRequest'
              - properties:
                  config:
                    $ref: '#/components/schemas/models.AmplitudeEventImport'
                type: object
[...]
