openapi: 3.2.0
info:
  title: V1 Lytics Account Settings API
  version: 1.0.0
  description: 'The Lytics API is a _restful_ *JSON* api that includes:

    * *Data Collection* api''s for collection, and upload of custom data.'
servers:
- url: https://api.lytics.io
tags:
- name: Account Settings
  description: Account Settings describe features/settings for a Lytics account.
paths:
  /api/account/setting/{setting}:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSettingModel'
              examples:
                response:
                  value:
                    can_be_assigned: true
                    category: Security
                    field:
                      description: Enforce rule preventing re-use of same password.
                      editable: false
                      label: ''
                      name: Enforce Password History
                      optional: false
                      sort_order: 0
                      type: boolean
                      user_config_disabled: false
                    slug: enforce_password_history
                    type: setting
                    value: null
      security:
      - ApiKeyAuth: []
      summary: Retrieve a Single Account Setting
      operationId: Retrieve a Single Account Setting
      description: Get single Account Setting by slug.
      tags:
      - Account Settings
      parameters:
      - name: account_id
        in: query
        description: Your Lytics account ID.
        required: false
        schema:
          type: string
      - name: setting
        in: path
        description: slug of account setting.
        required: true
        example: enforce_password_history
        schema:
          type: string
    put:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSettingModel'
              examples:
                response:
                  value:
                    can_be_assigned: true
                    category: Security
                    field:
                      description: Enforce rule preventing re-use of same password.
                      editable: false
                      label: ''
                      name: Enforce Password History
                      optional: false
                      sort_order: 0
                      type: boolean
                      user_config_disabled: false
                    slug: enforce_password_history
                    type: setting
                    value: null
      security:
      - ApiKeyAuth: []
      summary: Account Setting Update
      operationId: Account Setting Update
      description: 'Post update to Account Setting. See list of possible Settings from the List api.


        ```sh


        curl -XPUT "https://api.lytics.io/api/account/setting/logon_session_days" \

        -H ''Content-type: application/json'' \

        -H ''Authorization: $LIOKEY'' \

        -d ''10''


        ```'
      tags:
      - Account Settings
      parameters:
      - name: account_id
        in: query
        description: Your Lytics account ID.
        required: false
        schema:
          type: string
      - name: setting
        in: path
        description: slug of account setting.
        required: true
        example: enforce_password_history
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: number
    delete:
      responses:
        '204':
          description: No Content
          headers: {}
      security:
      - ApiKeyAuth: []
      summary: Account Setting Delete
      operationId: Account Setting Delete
      description: 'Delete a custom account setting. Given a key for a setting, delete the custom-value.


        Note, since account-settings may have default values, this only deletes the entire value that currently exists.


        ```sh


        curl -XDELETE "https://api.lytics.io/api/account/setting/logon_session_days" \

        -H ''Authorization: $LIOKEY''


        ```'
      tags:
      - Account Settings
      parameters:
      - name: account_id
        in: query
        description: Your Lytics account ID.
        required: false
        schema:
          type: string
      - name: setting
        in: path
        description: slug of account setting.
        required: true
        example: enforce_password_history
        schema:
          type: string
  /api/account/setting:
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSettingListModel'
              examples:
                response:
                  value:
                    status: success
                    data:
                    - can_be_assigned: true
                      category: Security
                      field:
                        description: Enforce rule preventing re-use of same password.
                        editable: false
                        label: ''
                        name: Enforce Password History
                        optional: false
                        sort_order: 0
                        type: boolean
                        user_config_disabled: false
                      slug: enforce_password_history
                      type: setting
                      value: null
                    - can_be_assigned: true
                      category: Security
                      field:
                        description: Enforce rule forcing high-password complexity.
                        editable: false
                        label: ''
                        name: Enforce Password Complexity
                        optional: false
                        sort_order: 0
                        type: boolean
                        user_config_disabled: false
                      slug: enforce_password_complexity
                      type: setting
                      value: null
                    - can_be_assigned: true
                      category: Security
                      field:
                        description: Ensure all users have two-factor auth.
                        editable: false
                        label: ''
                        name: All users must have two factor auth.
                        optional: false
                        sort_order: 0
                        type: boolean
                        user_config_disabled: false
                      slug: enforce_two_factor_auth
                      type: setting
                      value: null
      security:
      - ApiKeyAuth: []
      summary: Account Setting List
      operationId: Account Setting List
      description: ''
      tags:
      - Account Settings
components:
  schemas:
    AccountSettingListModel:
      type: object
      properties:
        status:
          type: string
        data:
          type: array
          items:
            type: object
            properties:
              can_be_assigned:
                type: boolean
              category:
                type: string
              field:
                type: object
                properties:
                  description:
                    type: string
                  editable:
                    type: boolean
                  label:
                    type: string
                  name:
                    type: string
                  optional:
                    type: boolean
                  sort_order:
                    type: number
                  type:
                    type: string
                  user_config_disabled:
                    type: boolean
              slug:
                type: string
              type:
                type: string
              value: {}
            required:
            - can_be_assigned
            - category
            - field
            - slug
            - type
            - value
      example:
        status: success
        data:
        - can_be_assigned: true
          category: Security
          field:
            description: Enforce rule preventing re-use of same password.
            editable: false
            label: ''
            name: Enforce Password History
            optional: false
            sort_order: 0
            type: boolean
            user_config_disabled: false
          slug: enforce_password_history
          type: setting
          value: null
        - can_be_assigned: true
          category: Security
          field:
            description: Enforce rule forcing high-password complexity.
            editable: false
            label: ''
            name: Enforce Password Complexity
            optional: false
            sort_order: 0
            type: boolean
            user_config_disabled: false
          slug: enforce_password_complexity
          type: setting
          value: null
        - can_be_assigned: true
          category: Security
          field:
            description: Ensure all users have two-factor auth.
            editable: false
            label: ''
            name: All users must have two factor auth.
            optional: false
            sort_order: 0
            type: boolean
            user_config_disabled: false
          slug: enforce_two_factor_auth
          type: setting
          value: null
    AccountSettingModel:
      type: object
      properties:
        can_be_assigned:
          type: boolean
        category:
          type: string
        field:
          type: object
          properties:
            description:
              type: string
            editable:
              type: boolean
            label:
              type: string
            name:
              type: string
            optional:
              type: boolean
            sort_order:
              type: number
            type:
              type: string
            user_config_disabled:
              type: boolean
        slug:
          type: string
        type:
          type: string
        value: {}
      example:
        can_be_assigned: true
        category: Security
        field:
          description: Enforce rule preventing re-use of same password.
          editable: false
          label: ''
          name: Enforce Password History
          optional: false
          sort_order: 0
          type: boolean
          user_config_disabled: false
        slug: enforce_password_history
        type: setting
        value: null
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
x-readme:
  explorer-enabled: true
  proxy-enabled: true
